<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col class="align--left">
        </ion-col>
        <ion-col class="align--center">
          <ion-title class="title title--header">
            New Post
          </ion-title>
        </ion-col>
        <ion-col class="align--right">
          <ion-button (click)="dismissModal()" fill="clear"><ion-icon class="icon--close-circle-outline" name="close-circle-outline"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-textarea placeholder="Enter more information here..."  style="background: cadetblue;padding: 0;padding-top: 80px;color: white;margin:0;min-height: 200px;text-align: center;font-weight: bold;text-decoration: none;"></ion-textarea>
  <ion-list style="margin-top: 0;padding-top: 0;">
    <ion-list-header style="border-bottom: 1px solid #ddd;">
      Choose a background:
    </ion-list-header>
    <ion-grid>
      <ion-row>
        <ion-col>Test</ion-col>
        <ion-col>Test</ion-col>
        <ion-col>Test</ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
