<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col class="align--left">
        </ion-col>
        <ion-col class="align--center">
          <ion-title class="title title--header">
            New Post
          </ion-title>
        </ion-col>
        <ion-col class="align--right">
          <ion-button (click)="dismissModal()" fill="clear"><ion-icon class="icon--close-circle-outline" name="close-circle-outline"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="type == 'quote'" class="quote--container">
  <ion-textarea placeholder="Enter more information here..." [style.background]="bgColor" [(ngModel)]="postText" style="padding: 0;padding-top: 80px;color: white;margin:0;min-height: 200px;text-align: center;font-weight: bold;text-decoration: none;"></ion-textarea>
  <ion-list style="margin-top: 0;padding-top: 0;">
    <ion-item>
      <ion-list-header>
        Choose a background: Quote
      </ion-list-header>
      <input type="color" width="100%" value="#5f9ea0" (change)="changeColor($event, value)" />
      <ion-button fill="clear" class="button button--upload-type" (click)="pickImage()"><ion-icon class="icon--image" name="image"></ion-icon></ion-button>
    </ion-item>
    <!-- <ion-button shape="round" style="float:right;margin-right: 20px;" (click)="CreatePost('q')">Submit</ion-button> -->
    <ion-button fill="clear"style="float: right;margin-right: 20px;" (click)="createPost('q')">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </ion-list>
</ion-content>

<ion-content *ngIf="type == 'goal'" class="goal--container">
  <ion-list>
    <ion-item>
      <ion-textarea placeholder="Enter more information here..."></ion-textarea>
    </ion-item>
    <ion-item (click)="getImages()">
      <ion-icon name="images"></ion-icon> Upload from Phone
    </ion-item>
    <ion-item (click)="takePhoto()">
      <ion-icon name="camera"></ion-icon> Upload from Camera
    </ion-item>
  </ion-list>
  <!-- <ion-button shape="round" style="float:right;margin-right: 20px;" (click)="CreatePost('g')">Submit</ion-button> -->
  <ion-button fill="clear"style="float: right;margin-right: 20px;" (click)="createPost('g')">
    <ion-icon name="send"></ion-icon>
  </ion-button> 
</ion-content>

<ion-content *ngIf="type == 'achievement'" class="achievement--container">
  <ion-list>
    <ion-item>
      <ion-textarea placeholder="Enter more information here..."></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-icon name="images"></ion-icon> Upload from Phone
    </ion-item>
    <ion-item>
      <ion-icon name="camera"></ion-icon> Upload from Camera
    </ion-item>
  </ion-list>
  <!-- <ion-button shape="round" style="float:right;margin-right: 20px;" (click)="CreatePost('a')">Submit</ion-button> -->
  <ion-button fill="clear"style="float: right;margin-right: 20px;" (click)="createPost('a')">
    <ion-icon name="send"></ion-icon>
  </ion-button>
</ion-content>

<ion-content *ngIf="type == 'story'" class="story--container">
  <ion-list>
    <ion-item>
      <ion-textarea placeholder="Enter more information here..."></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-icon name="images"></ion-icon> Upload from Phone
    </ion-item>
    <ion-item>
      <ion-icon name="camera"></ion-icon> Upload from Camera
    </ion-item>
  </ion-list>
  <!-- <ion-button shape="round" style="float:right;margin-right: 20px;" (click)="CreatePost('s')">Submit</ion-button> -->
  <ion-button fill="clear"style="float: right;margin-right: 20px;" (click)="createPost('s')">
    <ion-icon name="send"></ion-icon>
  </ion-button>
</ion-content>
