<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col class="align--left">
          <ion-button (click)="openFirst()" fill="clear"><ion-icon class="icon--menu-item" name="menu" style="font-size: 20px;"></ion-icon></ion-button>
        </ion-col>
        <ion-col class="align--center">
          <ion-title class="title title--header">
            Impetus
          </ion-title>
        </ion-col>
        <ion-col class="align--right">
          <ion-button (click)="presentActionSheet()" fill="clear"><ion-icon class="icon--add-item" name="add-circle-outline"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="first">
  <ion-header>
    <ion-toolbar>
      <ion-title class="title title--menu">Motivational...</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item href="https://www.ionicframework.com">Stream <ion-icon name="list" slot="end"></ion-icon></ion-item>
      <ion-item href="https://www.ionicframework.com">Stories <ion-icon name="book" slot="end"></ion-icon></ion-item>
      <ion-item href="https://www.ionicframework.com">Quotes <ion-icon name="quote" slot="end"></ion-icon></ion-item>
      <ion-item href="https://www.ionicframework.com">Videos <ion-icon name="play-circle" slot="end"></ion-icon></ion-item>
      <ion-item href="https://www.ionicframework.com">Support <ion-icon name="flame" slot="end"></ion-icon></ion-item>
    </ion-list>
    <ion-button class="button--sign-out" fill="outline" color="cadetblue" expand="block" (click)="logOutUser()">Sign Out</ion-button>
  </ion-content>
  <ion-router-outlet main></ion-router-outlet>
</ion-menu>

<ion-content>
  <h1>"Live Every Day Like It Might Be Your Last."</h1>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>
</ion-content>
