@import url('https://fonts.googleapis.com/css?family=Faster+One|Lato:300i|Oswald:600|Quicksand:300|Ubuntu:500i&display=swap');

ion-icon {
    color: cadetblue !important;
}

ion-title {
    font-family: "Faster One";
    font-size: 26px;
    margin-top: 5px;
    color: cadetblue;
}

h1 {
    font-family: "Quicksand";
    font-size: 26px;
    text-align: center;
    margin: 0 auto;
    padding: 30px;
    background-color: cadetblue;
    color: white;
}